[Bb]uild/

cmake-build-debug/Ekros/
cmake-build-debug/Glitter/Vendor/assimp/code/
cmake-build-debug/Glitter/Vendor/bullet/src/
cmake-build-debug/Glitter/Vendor/glfw/src/libglfw3.a

# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# intellij/clion
.idea/workspace.xml
.idea/tasks.xml
